body {

  :root {

    --plyr-color-main: rgba(255, 0, 0, 0.6); ;
  
    --plyr-control-icon-size: 15px;
  
    --plyr-control-radius: 20px;
  
    --plyr-font-family: "Helvetica Neue", Helvetica, sans-serif;
  
    --plyr-control-spacing: 15px;
  
  }

  img {
    border-radius: 24px;
  }

  .index-hero-section {
    .hero-section {
      .hero-section-text {
        h1 {
          font-size: 64px;
          text-align: center;
          margin: 92px auto 27px auto;
        }

        p {
          font-size: 15px;
          line-height: 30px;
          margin-bottom: 98px;
        }
      }
    }
  }

  .projects-text {
    margin-top: 128px;
    a {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .btns {
      margin-top: 24px;
      display: flex;
      justify-content: space-between;

       button {
        padding: 20px 40px;
        font-size: 24px;
        border-radius: 20px;
        border: none;
       }
    }
  }
  
  .down-icon {
    text-align: center;
    margin: 140px auto 100px auto;
  }

  .construction {
    margin-top: 32px;
  }

  .connect {
    margin-top: 137px;
    .connect-content {
      .connect-text {
        text-align: center;
        h3 {
          font-size: 32px;
          margin-bottom: 24px;
        }
        h4 {
          font-size: 64px;
          margin-bottom: 72px;
        }

        p {
          font-size: 32px;
          margin: 92px auto;
        }
      }
    }
  }
}



@media screen and (min-width: 1200px) {
    body {
      .index-hero-section {
        .hero-section {
          .hero-section-text {
            h1 {
              font-size: 128px;
              text-align: center;
              margin: 92px auto 97px auto;
            }
    
            p {
              font-size: 48px;
              line-height: 1.8;
              margin-bottom: 127px;
            }
          }
        }
      }

      .projects-text {
        margin-top: 32px;
        a {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .btns {
          margin-top: 24px;
          display: flex;
          justify-content: space-between;
    
           button {
            padding: 20px 40px;
            font-size: 24px;
            border-radius: 20px;
            border: none;
           }
        }
      }


      .down-icon {
        text-align: center;
        margin: 304px auto 369px auto;

        img {
          width: 90px;
          height: 66px;
        }
      }

      .construction {
        margin-top: 138px;
      }
    
      #zen {
        margin-top: 140px;
      }
    
      #ceci {
        margin-bottom: 72px;
      }

      #zima {
        img {
          height: 500px;
        }
      }
    
      .connect {
        margin-top: 221px;
        .connect-content {
          .connect-text {
            text-align: center;
            h3 {
              font-size: 64px;
              margin-bottom: 24px;
            }
            h4 {
              font-size: 128px;
              margin-bottom: 72px;
            }
    
            p {
              font-size: 64px;
              margin: 92px auto;
            }
          }
        }
      }
    }
}