@use '../abstracts' as a;

#header-text {
  height: 172px;
}

header {
  background-color: #f5f5f5;
  padding: 20px 0;

  .header-container {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    ul {
      margin-left: auto;
      display: flex;
      align-items: center;

      li {
        list-style: none;
        padding-right: 24px;

        &:last-child {
          padding-right: 0;
        }

        a {
          text-decoration: none;
          color: #333;
          transition: color 0.3s ease;

          &:hover {
            color: #f56a79;
          }
        }
      }
    }
  }
}

.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
  padding-top: 40px;

  &.active {
    display: flex;
  }

  li {
    margin-bottom: 30px;

    a {
      font-size: 1.8rem;
      color: #fff;
    }
  }
}

.mobile-hidden {
  display: none;
}

.desktop-only {
  display: flex;
}

@media (min-width: 1200px) {
  .mobile-hidden {
    display: flex;
  }

  .desktop-only {
    display: none;
  }

  .menu-overlay {
    display: none;
  }
}
